STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
TELEGRAM_BOT_TOKEN=your_bot_token
DATABASE_URL=postgres://postgres:password@db:5432/mydb?sslmode=disable
SERVER_IP=your_server_ip_address
SERVER_PORT=8443 